<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--Server=6205d020-e876-4db9-8515-a076016b2c9f.sqlserver.sequelizer.com;Database=db6205d020e8764db98515a076016b2c9f;User ID=kbpmyhavpvinwkmp;Password=EjVxXMkSWvBwvdusDJehmR3SdBRhXfVbhSXdgFETZ3PJXKCFCbbrtwxWqduv5c3Q;-->
    <add name="NokatEntities" connectionString="metadata=res://*/NokatDB.csdl|res://*/NokatDB.ssdl|res://*/NokatDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=6205d020-e876-4db9-8515-a076016b2c9f.sqlserver.sequelizer.com;
      initial catalog=db6205d020e8764db98515a076016b2c9f;
      user id=kbpmyhavpvinwkmp;
      password=EjVxXMkSWvBwvdusDJehmR3SdBRhXfVbhSXdgFETZ3PJXKCFCbbrtwxWqduv5c3Q;
      multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="NokatEntities" connectionString="metadata=res://*/NokatDB.csdl|res://*/NokatDB.ssdl|res://*/NokatDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Nokat;user id=sa;password=sql;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.1, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
</configuration>